<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533871631782-dqcr4em7c4frsgv60i1ba5noijsco90k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533871631782-dqcr4em7c4frsgv60i1ba5noijsco90k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>533871631782-i2ojd3dpt3ld6hlscuu2jf4d8c560o8o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa7pfyuGiq-RZqkBfe3ez_0Aw4InIz0VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>533871631782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sekspirdev.mucbirsebepler.mucbirsebepler</string>
	<key>PROJECT_ID</key>
	<string>mucbirsebeplerj</string>
	<key>STORAGE_BUCKET</key>
	<string>mucbirsebeplerj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533871631782:ios:93cd496664238bcf514367</string>
	<key>DATABASE_URL</key>
	<string>https://mucbirsebeplerj.firebaseio.com</string>
</dict>
</plist>